:root {
  --light-gray: #f5f5f5;
  --gray: #e4e4e4;
  --accent-dark: #00b6b3;
  --sans: 'Lexend Deca', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

html,
body {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--sans);
}

* {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto Mono', Consolas, 'Courier New', Courier, monospace;
}

a {
  color: var(--accent-dark);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

#profile-and-contact-info {
  display: flex;
  flex-wrap: wrap;
  background: var(--light-gray);
  padding: 20px;
}

#profile-and-contact-info h3 {
  margin-top: 0;
}

#profile-and-contact-info > * {
  margin: 20px;
  flex-basis: 400px;
}

#profile {
  flex-grow: 2;
}

#profile p {
  margin-bottom: 0;
}

#profile-picture {
  float: left;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#contact-info {
  flex-grow: 1;
}

.chip {
  color: inherit;
  display: inline-flex;
  align-items: center;
  border-radius: 999px;
  background: var(--gray);
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  font-family: var(--sans);
  font-weight: normal;
}

.chip img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#other-content {
  margin: 0 auto;
  padding: 10px;
  max-width: 1000px;
  text-align: center;
}

#skill-icon-container {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  grid-auto-rows: 1fr;
  justify-items: center;
  justify-content: center;
  gap: 30px;
  grid-gap: 30px;
}

@media screen and (max-width: 700px) {
  #skill-icon-container {
    grid-template-columns: repeat(auto-fit, 80px);
  }
}

#skills img {
  max-width: 80px;
  height: 80px;
  /* works as long as no image is wider than it is tall */
}

#project-container {
  display: flex;
  flex-wrap: wrap;
}

.project {
  flex: 1;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background: var(--light-gray);
  margin: 10px;
  border-radius: 5px;
  text-align: left;
  padding: 15px;
}

.project > div:first-child {
  flex-grow: 1;
}

.project h4 {
  margin-top: 0;
}

.project .chip {
  margin-bottom: 0;
}

#experience :not(h2) {
  text-align: left;
}
