:root {
  font-size: 10pt;
}

html,
body {
  margin: 0;
  --accent: #004c91;
  /* width: 8.5in; */
  /* height: 11in; */
  text-size-adjust: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: var(--accent);
}

#profile-and-contact-info {
  border-top: 3px solid var(--accent);
  /* padding-inline: calc(24px + 50vw - 4.25in); */
  padding-block-start: 24px;
  text-align: center;
}

#profile-and-contact-info h1 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
}

#profile {
  flex: 1;
}

#contact {
  margin-block: 4px;
}

#contact-info {
  flex: 1;
}

p {
  margin-block: 0;
}

.chip {
  color: inherit;
  display: inline-flex;
  align-items: center;
  border-radius: 999px;
  background: #e4e4e4;
  padding: 4px 7px;
  font-size: 0.875rem;
}

.chip img {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  opacity: 0.6;
}

#other-content {
  margin: 12px auto;
  width: calc(8.5in - 48px);
}

.reference {
  margin-top: 3px;
  float: right;
}

h1,
h2,
h3,
h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

#relevant-coursework {
  columns: 2;
}

.quad {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.quad span:first-child {
  font-weight: bold;
}

.quad span:nth-child(even) {
  text-align: right;
}

.quad span:nth-child(2) ~ span {
  font-size: 0.875rem;
}

ul {
  margin-block-end: 0.5rem;
  margin-block-start: 0.25rem;
}

ul ul {
  margin-block: 0;
}

h2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  color: var(--accent);
}

h3:first-of-type {
  margin-top: 0;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
}

aside {
  letter-spacing: initial;
  float: right;
  text-transform: none;
  font-weight: normal;
  color: black;
  font-size: 1rem;
}

.project {
  page-break-inside: avoid;
  position: relative;
  flex: 1;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  /* background: var(--light-gray); */
  background: #f5f5f5;
  margin: 10px;
  border-radius: 5px;
  text-align: left;
  padding: 15px;
}

.project > div:first-child {
  flex-grow: 1;
}

.project h4 {
  margin-top: 0;
}

.project .chip {
  margin-bottom: 0;
}
